*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --presentColor: #FFCC99;
    --ribbonColor: #FF3333;
}

.Wraper{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Present Modal*/

.Present {
    background-color: var(--presentColor);
    width: 15%;
    height: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: relative;
}

.Present::before{
    background-color: var(--ribbonColor);
    content: '';
    height: 100%;
    width: 20%;
    position: absolute;left: 50%;
    transform: translateX(-50%);
    z-index: 4;
}
.Present::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 7%;
    position: absolute;
    z-index: 4;
}

#click{
    display: none;
}
.click{
    position: absolute; top: -50px; left: -7%;
    background-color: var(--presentColor);
    width: 115%;
    height: 25%;
    z-index: 5;
    transform-origin: bottom left;
    transition: 0.4s;
    cursor: pointer;
}

.click::before{
    content: '';
    position: absolute; left: 50%;
    transform: translateX(-50%);
    background-color: var(--ribbonColor);
    height: 100%;
    width: 18%;
}
.click::after{
    content: '';
    position: absolute;left: 50%; top: -85%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 36px solid transparent;
    border-right: 36px solid var(--ribbonColor);
    border-bottom: 36px solid var(--ribbonColor);
    border-top: 36px solid var(--ribbonColor);
    transform: rotate(90deg) translateY(50%);
}

/*Transition*/

#click:checked+.click{
    transform: rotate(-115deg) scale(0.85);
}
#click:checked~.Cake{
    z-index: 3 !important;
    transform: translateY(-50%) translateX(-50%);
}

/*Cake Modal */

.Cake {
    width: 75%;
    height: 85%;
    position: absolute; left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: 0.5s;
}

.Cakelayers{
    width: 100%;
    height: 20%;
    background-color: #cb8944;
    display: block;
    border-radius: 50%;
}

.Cakelayers:nth-child(2){
    border-radius: 0;
    position: absolute;
    top: 22px;
    z-index: -1;
}

.Cakelayers:first-child{
    background-color: white !important;
}

.Cherry{
    background-color: red;
    width: 6px;
    height: 6px;
    display: block;
}

.Cherry:nth-child(1){
    transform: translateX(1250%);
}
.Cherry:nth-child(2){
    transform: translateX(2200%);
}
.Cherry:nth-child(3){
    transform: translateX(750%);
}
.Cherry:nth-child(4){
    transform: translateX(2800%);
}
.Cherry:nth-child(5){
    transform: translateX(1800%);
}